.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	.title {
		font-size: 30px;
		margin: 10px 0;
	}

	.inputsContainer {
		padding: 10px;
		border-radius: 10px;
		border: 1px solid black;
		label {
			margin: 0 10px;
		}
		button {
			margin-left: 10px;
		}
	}
	.result {
		color: red;
	}
}
